:root,
[data-basiq-theme="light"],
[data-basiq-theme="system"] {
  color-scheme: light;

  --basiq-color-surface-base: #fff;
  --basiq-color-surface-container: #f2f5f7;
  --basiq-color-surface-muted: #e4e9ed;
  --basiq-color-content-default: #333;
  --basiq-color-content-subtle: #6d6d6e;
  --basiq-color-content-accent: #126abf;
  --basiq-color-content-danger: #c52233;
  --basiq-color-content-on-accent: #fff;
  --basiq-color-content-on-neutral: #fff;
  --basiq-color-content-on-danger: #0d1217;
  --basiq-color-content-disabled: #748390;
  --basiq-color-accent-default: #126abf;
  --basiq-color-focus-ring: #126abf;
  --basiq-color-border-separator: #ced6db;
  --basiq-color-border-control: #8795a3;
  --basiq-color-control-background-disabled: #d7dde2;
  --basiq-color-control-background-disabled-accent: #d4e6f1;
  --basiq-color-input-background: var(--basiq-color-surface-container);
  --basiq-color-input-background-disabled: var(--basiq-color-control-background-disabled);
  --basiq-color-input-border: var(--basiq-color-border-control);
  --basiq-color-input-border-disabled: var(--basiq-color-content-disabled);
  --basiq-color-input-border-invalid: var(--basiq-color-content-danger);
  --basiq-color-input-content: var(--basiq-color-content-default);
  --basiq-color-input-placeholder: var(--basiq-color-content-subtle);
  --basiq-color-card-background: var(--basiq-color-surface-container);
  --basiq-color-card-divider: var(--basiq-color-border-separator);
  --basiq-color-button-background-accent-solid-rest: #126abf;
  --basiq-color-button-background-accent-solid-hover: #1565b1;
  --basiq-color-button-background-accent-solid-pressed: #195fa3;
  --basiq-color-button-background-accent-outline-hover: #ecf3fa;
  --basiq-color-button-background-accent-outline-pressed: #e3edf7;
  --basiq-color-button-background-neutral-solid-rest: #ced2d4;
  --basiq-color-button-background-neutral-solid-hover: #c3c8cb;
  --basiq-color-button-background-neutral-solid-pressed: #b8bec2;
  --basiq-color-button-background-neutral-outline-hover: #f5f7f8;
  --basiq-color-button-background-neutral-outline-pressed: #f1f2f4;
  --basiq-color-button-background-danger-solid-rest: #f26451;
  --basiq-color-button-background-danger-solid-hover: #df5f4e;
  --basiq-color-button-background-danger-solid-pressed: #cc5a4b;
  --basiq-color-button-background-danger-outline-hover: #fef3f1;
  --basiq-color-button-background-danger-outline-pressed: #fdecea;
  --basiq-color-button-content-accent-solid: #fff;
  --basiq-color-button-content-accent-outline: #126abf;
  --basiq-color-button-content-neutral-solid: #333;
  --basiq-color-button-content-neutral-outline: #6d6d6e;
  --basiq-color-button-content-danger-solid: #0d1217;
  --basiq-color-button-foreground-danger-outline: var(--basiq-color-content-danger);
  --basiq-color-button-border-accent-outline: #126abf;
  --basiq-color-button-border-neutral-outline: #8795a3;
  --basiq-color-button-border-outline-disabled: #748390;
  --basiq-color-toggle-button-content-off: #6b7d8a;
  --basiq-color-toggle-button-content-on: #126abf;
  --basiq-color-toggle-button-background-off-rest: #6b7d8a29;
  --basiq-color-toggle-button-background-off-hover: #e3e5e7;
  --basiq-color-toggle-button-background-off-pressed: #d7dadc;
  --basiq-color-toggle-button-background-on-rest: #126abf24;
  --basiq-color-toggle-button-background-on-hover: #ccdeee;
  --basiq-color-toggle-button-background-on-pressed: #bdd4e9;
  --basiq-color-choice-group-item-content-unselected-rest: #126abf4d;
  --basiq-color-choice-group-item-content-unselected-hover: #126abfb2;
  --basiq-color-choice-group-item-content-unselected-pressed: #126abf;
  --basiq-color-choice-group-item-content-selected-rest: #126abf;
  --basiq-color-choice-group-item-content-selected-hover: #126abf;
  --basiq-color-choice-group-item-content-selected-pressed: #126abf;
  --basiq-color-choice-group-item-background-unselected-rest: transparent;
  --basiq-color-choice-group-item-background-unselected-hover: #126abf1a;
  --basiq-color-choice-group-item-background-unselected-pressed: #126abf24;
  --basiq-color-choice-group-item-background-selected-rest: #126abf1a;
  --basiq-color-choice-group-item-background-selected-hover: #126abf1a;
  --basiq-color-choice-group-item-background-selected-pressed: #126abf33;
}

[data-basiq-theme="dark"] {
  color-scheme: dark;

  --basiq-color-surface-base: #242b33;
  --basiq-color-surface-container: #29323b;
  --basiq-color-surface-muted: #1e262e;
  --basiq-color-content-default: #fff;
  --basiq-color-content-subtle: #bac2c9;
  --basiq-color-content-accent: #4899f9;
  --basiq-color-content-danger: #ff6b6b;
  --basiq-color-content-on-accent: #0d1217;
  --basiq-color-content-on-neutral: #0d1217;
  --basiq-color-content-on-danger: #0d1217;
  --basiq-color-content-disabled: #8d9aa5;
  --basiq-color-accent-default: #4899f9;
  --basiq-color-focus-ring: #4899f9;
  --basiq-color-border-separator: #49535b;
  --basiq-color-border-control: #bac2c9;
  --basiq-color-control-background-disabled: #333d46;
  --basiq-color-control-background-disabled-accent: #304655;
  --basiq-color-input-background: var(--basiq-color-surface-container);
  --basiq-color-input-background-disabled: var(--basiq-color-control-background-disabled);
  --basiq-color-input-border: var(--basiq-color-border-control);
  --basiq-color-input-border-disabled: var(--basiq-color-content-disabled);
  --basiq-color-input-border-invalid: var(--basiq-color-content-danger);
  --basiq-color-input-content: var(--basiq-color-content-default);
  --basiq-color-input-placeholder: var(--basiq-color-content-subtle);
  --basiq-color-card-background: var(--basiq-color-surface-container);
  --basiq-color-card-divider: var(--basiq-color-border-separator);
  --basiq-color-button-background-accent-solid-rest: #4899f9;
  --basiq-color-button-background-accent-solid-hover: #5aa3fa;
  --basiq-color-button-background-accent-solid-pressed: #6dadfa;
  --basiq-color-button-background-accent-outline-hover: #252f3b;
  --basiq-color-button-background-accent-outline-pressed: #26313d;
  --basiq-color-button-background-neutral-solid-rest: #3a424b;
  --basiq-color-button-background-neutral-solid-hover: #474f56;
  --basiq-color-button-background-neutral-solid-pressed: #535b62;
  --basiq-color-button-background-neutral-outline-hover: #2a3139;
  --basiq-color-button-background-neutral-outline-pressed: #2c333b;
  --basiq-color-button-background-danger-solid-rest: #f26451;
  --basiq-color-button-background-danger-solid-hover: #f37462;
  --basiq-color-button-background-danger-solid-pressed: #f58374;
  --basiq-color-button-background-danger-outline-hover: #2c2d34;
  --basiq-color-button-background-danger-outline-pressed: #2e2e35;
  --basiq-color-button-content-accent-solid: #0d1217;
  --basiq-color-button-content-accent-outline: #4899f9;
  --basiq-color-button-content-neutral-solid: #fff;
  --basiq-color-button-content-neutral-outline: #bac2c9;
  --basiq-color-button-content-danger-solid: #0d1217;
  --basiq-color-button-foreground-danger-outline: var(--basiq-color-content-danger);
  --basiq-color-button-border-accent-outline: #4899f9;
  --basiq-color-button-border-neutral-outline: #bac2c9;
  --basiq-color-button-border-outline-disabled: #8d9aa5;
  --basiq-color-toggle-button-content-off: #c7d0d9;
  --basiq-color-toggle-button-content-on: #4899f9;
  --basiq-color-toggle-button-background-off-rest: #c7d0d90a;
  --basiq-color-toggle-button-background-off-hover: #3a424b;
  --basiq-color-toggle-button-background-off-pressed: #474f56;
  --basiq-color-toggle-button-background-on-rest: #4899f924;
  --basiq-color-toggle-button-background-on-hover: #2b415b;
  --basiq-color-toggle-button-background-on-pressed: #2d4866;
  --basiq-color-choice-group-item-content-unselected-rest: #4899f94d;
  --basiq-color-choice-group-item-content-unselected-hover: #4899f9b2;
  --basiq-color-choice-group-item-content-unselected-pressed: #4899f9;
  --basiq-color-choice-group-item-content-selected-rest: #4899f9;
  --basiq-color-choice-group-item-content-selected-hover: #4899f9;
  --basiq-color-choice-group-item-content-selected-pressed: #4899f9;
  --basiq-color-choice-group-item-background-unselected-rest: transparent;
  --basiq-color-choice-group-item-background-unselected-hover: #4899f91a;
  --basiq-color-choice-group-item-background-unselected-pressed: #4899f924;
  --basiq-color-choice-group-item-background-selected-rest: #4899f91a;
  --basiq-color-choice-group-item-background-selected-hover: #4899f91a;
  --basiq-color-choice-group-item-background-selected-pressed: #4899f933;
}

@media (prefers-color-scheme: dark) {
  :root,
  [data-basiq-theme="system"] {
    color-scheme: dark;

    --basiq-color-surface-base: #242b33;
    --basiq-color-surface-container: #29323b;
    --basiq-color-surface-muted: #1e262e;
    --basiq-color-content-default: #fff;
    --basiq-color-content-subtle: #bac2c9;
    --basiq-color-content-accent: #4899f9;
    --basiq-color-content-danger: #ff6b6b;
    --basiq-color-content-on-accent: #0d1217;
    --basiq-color-content-on-neutral: #0d1217;
    --basiq-color-content-on-danger: #0d1217;
    --basiq-color-content-disabled: #8d9aa5;
    --basiq-color-accent-default: #4899f9;
    --basiq-color-focus-ring: #4899f9;
    --basiq-color-border-separator: #49535b;
    --basiq-color-border-control: #bac2c9;
    --basiq-color-control-background-disabled: #333d46;
    --basiq-color-control-background-disabled-accent: #304655;
    --basiq-color-input-background: var(--basiq-color-surface-container);
    --basiq-color-input-background-disabled: var(--basiq-color-control-background-disabled);
    --basiq-color-input-border: var(--basiq-color-border-control);
    --basiq-color-input-border-disabled: var(--basiq-color-content-disabled);
    --basiq-color-input-border-invalid: var(--basiq-color-content-danger);
    --basiq-color-input-content: var(--basiq-color-content-default);
    --basiq-color-input-placeholder: var(--basiq-color-content-subtle);
    --basiq-color-card-background: var(--basiq-color-surface-container);
    --basiq-color-card-divider: var(--basiq-color-border-separator);
    --basiq-color-button-background-accent-solid-rest: #4899f9;
    --basiq-color-button-background-accent-solid-hover: #5aa3fa;
    --basiq-color-button-background-accent-solid-pressed: #6dadfa;
    --basiq-color-button-background-accent-outline-hover: #252f3b;
    --basiq-color-button-background-accent-outline-pressed: #26313d;
    --basiq-color-button-background-neutral-solid-rest: #3a424b;
    --basiq-color-button-background-neutral-solid-hover: #474f56;
    --basiq-color-button-background-neutral-solid-pressed: #535b62;
    --basiq-color-button-background-neutral-outline-hover: #2a3139;
    --basiq-color-button-background-neutral-outline-pressed: #2c333b;
    --basiq-color-button-background-danger-solid-rest: #f26451;
    --basiq-color-button-background-danger-solid-hover: #f37462;
    --basiq-color-button-background-danger-solid-pressed: #f58374;
    --basiq-color-button-background-danger-outline-hover: #2c2d34;
    --basiq-color-button-background-danger-outline-pressed: #2e2e35;
    --basiq-color-button-content-accent-solid: #0d1217;
    --basiq-color-button-content-accent-outline: #4899f9;
    --basiq-color-button-content-neutral-solid: #fff;
    --basiq-color-button-content-neutral-outline: #bac2c9;
    --basiq-color-button-content-danger-solid: #0d1217;
    --basiq-color-button-foreground-danger-outline: var(--basiq-color-content-danger);
    --basiq-color-button-border-accent-outline: #4899f9;
    --basiq-color-button-border-neutral-outline: #bac2c9;
    --basiq-color-button-border-outline-disabled: #8d9aa5;
    --basiq-color-toggle-button-content-off: #c7d0d9;
    --basiq-color-toggle-button-content-on: #4899f9;
    --basiq-color-toggle-button-background-off-rest: #c7d0d90a;
    --basiq-color-toggle-button-background-off-hover: #3a424b;
    --basiq-color-toggle-button-background-off-pressed: #474f56;
    --basiq-color-toggle-button-background-on-rest: #4899f924;
    --basiq-color-toggle-button-background-on-hover: #2b415b;
    --basiq-color-toggle-button-background-on-pressed: #2d4866;
    --basiq-color-choice-group-item-content-unselected-rest: #4899f94d;
    --basiq-color-choice-group-item-content-unselected-hover: #4899f9b2;
    --basiq-color-choice-group-item-content-unselected-pressed: #4899f9;
    --basiq-color-choice-group-item-content-selected-rest: #4899f9;
    --basiq-color-choice-group-item-content-selected-hover: #4899f9;
    --basiq-color-choice-group-item-content-selected-pressed: #4899f9;
    --basiq-color-choice-group-item-background-unselected-rest: transparent;
    --basiq-color-choice-group-item-background-unselected-hover: #4899f91a;
    --basiq-color-choice-group-item-background-unselected-pressed: #4899f924;
    --basiq-color-choice-group-item-background-selected-rest: #4899f91a;
    --basiq-color-choice-group-item-background-selected-hover: #4899f91a;
    --basiq-color-choice-group-item-background-selected-pressed: #4899f933;
  }
}
